.map__marker {
    padding: 6px;
    border-radius: 50% 50% 50% 0;
    background: #fff;
    width: 40px;
    height: 40px;
    transform: rotate(-45deg);
    position: relative;
}

.map__marker>* {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #F58220;
    padding: 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Hoang__Sa__Truong__Sa__belong_to_Viet_Nam {
    width: 200px;
    height: fit-content;
    background: white;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    font-weight: bold;
    color: red;
    position: relative;
}