.KPI__list__container {
    display: grid;
    grid-gap: 16px;
    padding: 16px 12px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(275px, 1fr);
    overflow-x: auto;
    grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));
    height: 100%;
}

.KPI__list {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.KPI__list__container>div {
    cursor: pointer;
    transition: 0.3s linear;
}

.KPI__list__container>div:hover {
    box-shadow: 0px 3px 6px 0px #4779cfaf, 0px 2px 2px 0px rgba(0, 0, 0, 0.08) !important;
}

.KPI__modal__detail__container {
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.KPI__modal__detail__container>div {
    flex: 1
}