.task__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 88vh;
}

.task__list__header__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__list__header__tools {
    display: flex;
    gap: 0px 8px;
}
.task__list__data_container{
    height: 100%;
}