.Performance_table_span {
    color: rgba(0, 0, 0, 0.88) !important;
    cursor: text !important;

}

.performance_table_header {
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.performance__table__Container {
    border-radius: 6px;
    overflow: hidden;
}