.group__item_3__columns {
    display: grid;
    grid-template-columns: 32% repeat(auto-fit, 43%) 25%;
    border-bottom: 1px dashed var(--border, #E2E4EE);
}

.group__item__tag {
    padding: 6px 4px;
    border-radius: 14px;
    height: fit-content;
    width: fit-content;
}

.group__item__tag.call {
    background: rgba(38, 197, 127, 0.10);
    color: var(--success);
}

.group__item__tag.mail {
    background: rgba(71, 121, 207, 0.10);
    color: var(--info);
}

.customer__history {
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.split__view__detail__left__item__container {
    position: relative;
}

.split__view__item__null {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filter__dropdown ul,
.filter__dropdown li {
    padding: 0 !important;
}