.KPI__effectuate__rate__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.KPI__effectuate__rate__container .p-progressbar-label {
    flex: none;
}

.kpi_plans_detail_table .ant-table-content {
    height: 295px;
}