.cluster-marker {
    color: rgb(255, 255, 255);
    background: #1978c8;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.cluster-marker::before {
    box-sizing: content-box;
    width: inherit;
    height: inherit;
    content: "";
    background: inherit;
    opacity: 70%;
    border-radius: 100%;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: breathing 2s ease-out infinite normal;
}


.cluster-marker::after {
    box-sizing: content-box;
    width: inherit;
    height: inherit;
    content: "";
    background: inherit;
    opacity: 30%;
    border-radius: 100%;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}



@keyframes breathing {
    0% {
        padding: 0px;
    }

    40% {
        padding: 5px;
    }

    100% {
        padding: 0px;
    }
}