.split__view__header__bar {
    background: #d5d7e7fd;
    border-radius: 6px;

}


.images_list {
    columns: 4 250px;
    column-gap: 16px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-flow: dense;
    grid-auto-rows: min-content; */
}

.images_list>* {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.3s all ease;
    cursor: pointer;
    margin-bottom: 16px;
    width: 100%;
}

.image__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    overflow: hidden;
    position: relative;
}

.image__box>img {
    object-fit: cover;
    width: 100%;
}

.image__box_detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease-in-out;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 16px;
    color: white;
}

/* .images__height{
    grid-row: span 2;
}

.images__width{
    grid-column: span 2;
} */


.images_list>*:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 8px;
    transform: translate(1px, -15px) scale(103%);
}

.images_list>*:hover .image__box_detail {
    opacity: 1;
    visibility: visible;
}