.ticket__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ticket__container__detail {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    overflow-y: scroll;
    height: 100%;
    padding: 16px;
}

.ticket__tools_bar {
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket__card {
    background: var(--light_gray);
    border-radius: 8px;
    padding: 8px 16px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    position: relative;
}

.right_icon {
    position: absolute;
    top: 50%;
    left: 96%;
    transform: translate(-50%, -50%);
    transition: 0.3s all ease-in-out;
    opacity: 0;
    color: var(--light_gray);
    font-weight: bold;
    font-size: 30px;
}

.ticket__card:hover {
    background: #eff1fd;
}

.ticket__card:hover>.right_icon {
    opacity: 1;
}

.ticket__selected {
    background: var(--dark_gray);
    color: white !important;
}

.ticket__card.ticket__selected:hover {
    background: var(--dark_gray);
    animation-play-state: paused;
}

.ticket__info__container {
    display: flex;
    justify-content: space-between;
    gap: 0px 20px;
    border-bottom: 1px solid var(--dark_gray);
}

.ticket__customer__info {
    display: flex;
    gap: 0px 10px;
}

.ticket__info {
    flex-shrink: 0;
}

.ticket__info p {
    line-height: 25px;
    word-wrap: break-word;
    white-space: break-spaces;
    max-width: 150px;
    font-size: 12px;
}

.ticket__detail__container {
    padding: 12px 0px 0px 0px;
}

.ticket__detail__container span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.detail__info__customer__container {
    width: 100%;
    background: var(--detail_bg_color);
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
}

.detail__description__container {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--dark_gray);
}

.right__side__ticket__detail {
    justify-content: space-between;
}

.reply__ticket__container {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.reply__contain {
    padding: 12px 16px;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px 0px;
}

.reply__editing{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: 1px solid var(--dark_gray) !important;
}

.reply__contain:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid var(--dark_gray);
}

.edit__reply__btn {
    opacity: 0;
    display: none;
}

.reply__contain:hover .edit__reply__btn {
    opacity: 1;
    display: block;
}





@keyframes test {
    0% {
        left: 98%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 98%;
    }
}