.KPI__Employees__container {
    display: grid;
    grid-gap: 12px;
    padding: 12px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(135px, 1fr);
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    grid-template-rows: repeat(auto-fill, 135px);
    height: 100%;
}


.KPI__Employees__container>div {
    cursor: pointer;
    transition: 0.2s linear;
}

.KPI__Employees__container>div:hover {
    box-shadow: 0px 3px 6px 0px #4779cfaf, 0px 2px 2px 0px rgba(0, 0, 0, 0.08) !important;
}

.KPI__Employee {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.KPI__Employee:active {
    background: #f2f4ff;
    transform: translate(0%, -7%);
}

.KPI__Employee__avartar {
    text-align: center;
}