/* .split__view__detail__left__item {
    grid-template-columns: 25% repeat(auto-fit, 25%) 45%;
} */

.split__view__detail__left__item_SO {
    display: grid;
    grid-template-columns: 25% repeat(auto-fit, 25%) 45%;
    justify-content: space-between;
    padding: 10px 4px;
    transition: all ease 0.3s;
    border-bottom: 1px solid var(--lighter_gray);
    transition: 0.2s all ease;
    border-radius: 4px;
    cursor: pointer;
    /* min-height: 10%; */
}

.split__view__detail__left__item_SO.split_view_item:hover {
    background: #fff;
}


.split__view__detail__left__item_SO.split_view_item:active {
    background: var(--light_gray);
}

.split__view__detail__left__item_SO.selected {
    background: #fff;
}