.list__user__container {
    min-height: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.item_in_list {
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.item_in_list:hover {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.permission__drawer__conatainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px 0px;
}

.permission__tree__container {
    min-height: 0;
    overflow: scroll;
}